.forgotPassword {
  margin-top: 30px;
  color: #6f6f6f;
  font-size: 13px;
  display: flex;
  justify-content: center;

  span {
    display: block;
    background: #FF9900;
    border-radius: 5px;
    padding: 4px 10px;
    color: #fff;
  }

  span:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}